{% extends 'base.html' %}
{%block titulo%} DashBoard de {{user}} {%endblock%}
{% block conteudo %}

<h3>Cadastro de contato</h3>
{% include 'parciais/_msg.html'%}
<div class="container">
    <form action="{% url 'dashboard' %}" method="POST"
        enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form }}
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </td>
        </tr>
    </table>
</form>
</div>
{%endblock%}