{% extends 'base.html'%}

{%block conteudo%}
<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#"> João</a>
      </td>
      <td>Bozolino</td>
      <td>35 9 5555-5555</td>
      <td>Conhecidos</td>
    </tr>
    <tr>
      <td>
        <a href="#"> Webber</a>
      </td>
      <td>Bigodon</td>
      <td>35 9 8888-5555</td>
      <td>Família</td>
    </tr>
    <tr>
      <td>
        <a href="#"> Waltinho</a>
      </td>
      <td>Do Alagoas</td>
      <td>35 9 9999-4352</td>
      <td>Família</td>
    </tr>
  </tbody>
</table>
{%endblock%}